<div class="author">
    <h1 class="author__heading">Tore's Place</h1>
    <p class="author__body">Web Dev and Climber</p>
</div>
<img src="https://images.unsplash.com/photo-1731921954767-8473de81c99e?q=80&w=1065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid">
<section class="articles">
    <h2 class="articles__heading">
        Latest Post
    </h2>

    <ul>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">View Older Posts</a>
</section>